<%- include('./header')-%>
    <body onload="load()">
        <%- include('./navbar')-%>
        <div class="container mt-3">
            <h2>info</h2>
            <%- include('./info')-%>
        </div>
        <script src="./javascript/set-navBar-token.js"></script>
        <script src="./javascript/info.js"></script>
    </body>
<%- include('./pie')-%> 